/* body {
    font-family: Arial, sans-serif;
    text-align: center;
} */
.team-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.team-member {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    background-color: #f9f9f9;
}
h1 {
    margin-bottom: 20px;
    font-size: 40px;
    margin: 43px;
    text-align: center;
}