{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'style/our_team.css' %}">
    <h1>Meet Our Team</h1>
    <div class="team-container">
        <div class="team-member">
            <h2>Samyam Sapkota</h2>
            <p><strong>Role:</strong> Backend Developer </p>
            <p>Samyam is responsible for overseeing project execution and ensuring the smooth functionality of this project. He works as an backend developer specialized in django communicating the frontend and databases with integration of backend </p>
        </div>
        <div class="team-member">
            <h2>Bidhan Ghimire</h2>
            <p><strong>Role:</strong> Frontend Developer</p>
            <p>Bidhan is specialized in the frontend development. He is proficient in creating user friendly applications with best user satisfaction . </p>
        </div>
        <div class="team-member">
            <h2>Mallika Ghimire</h2>
            <p><strong>Role:</strong> UI/UX Designer</p>
            <p>Mallika focuses on creating user-friendly interfaces and improving user experience.She is also working on documentation of the project. </p>
        </div>
    </div>

{% endblock %}
